ul{
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    background: #e8b6d8;
}
ul li{
    display: inline-block;

}
ul li a{
    display: block;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
}
ul li a:hover{
    color: #1b1e21;
    background: plum;
}

#balkep{
    float: left;
    margin-right: 70px;
    border: 3px solid #1b1e21;

}
#jobbkep{
    float: right;
    margin: 10px;
    border: 3px solid #1b1e21;
}
#bal1kep{
    float: left;
    margin-right: 3px;
    border: 3px solid #1b1e21;
}
#jobb1kep{
    float: right;
    margin: 0.5px;
    border: 3px solid #1b1e21;
}
#rolunk{
    width: 25%;
    height: 25%;
    border: 3px solid #1b1e21;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;

}
h1{
    margin: 8px;
    padding: 8px;
    font-size: 40px;
    text-align: center;
    color: #a9a083;
}
h2, h3, h4
{
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    color: #a9a083;
}
.szoveg1
{
    background-color: #f9f0d1;
    text-align: center;
    width: 400px;
    height: 100px;
    align-items: center;
    margin: auto;
    border: 3px solid #958c6f;
}
.szoveg
{
    padding: 20px;
    color:  #a9a083;
    background-color: #f9f0d1;
    text-align: center;
    height: fit-content;
    width: 400px;
    align-items: center;
    margin: auto;
    border: 3px solid #958c6f;
    display: block;
}
.szooveg
{
    color: #958c6f;
    background-color: #f9f0d1;
    text-align: center;
    border: 3px solid #958c6f;
    width: 800px;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding: 10px;
    padding-top: 0px;
}
.kep
{
    align-items: center;
    margin: auto;
    text-align: center;
}
.gomb
{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-grid;
    width: 200px;
    height: 50px;
    position: relative;
    border-radius: 100px;
    margin-right: 20px;
}
.vissza
{
    border-style: solid;
    outline: none;
    border-radius: 100px;
    width: 150px;
    height: 30px;
    display: inline-block;
}
.highlight {
    position: absolute;
    background: rgba(231, 187, 242, 0.5);
    display: none;
    border-radius: 10px;
}
#highlight-quadricepsbal {
    top: 180px;
    left: 80px;
    width: 38px;
    height: 190px;
}
#highlight-hamstring {
    top: 270px;
    left: 1120px;
    width: 50px;
    height: 140px;
}
#highlight-gluteusszel {
    top: 190px;
    left: 1135px;
    width: 20px;
    height: 90px;
}
#highlight-gluteuskozep {
    top: 200px;
    left: 1155px;
    width: 50px;
    height: 85px;
}
#highlight-belso {
    top: 200px;
    left: 112px;
    width: 30px;
    height: 100px;
}
#highlight-kulso {
    top: 270px;
    left: 65px;
    width: 20px;
    height: 90px;
}
#highlight-vadli {
    top: 400px;
    left: 1115px;
    width: 55px;
    height: 90px;
}
#highlight-terdhajlito {
    top: 320px;
    left: 75px;
    width: 40px;
    height: 90px;
}
#highlight-trapez {
    top: 255px;
    left: 1080px;
    width: 178px;
    height: 160px;
    clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
}
#highlight-nyakizom {
    top: 255px;
    left: 140px;
    width: 150px;
    height: 35px;
}
#highlight-vall {
    top: 290px;
    left: 90px;
    width: 50px;
    height: 60px;
}
#highlight-mell {
    top: 290px;
    left: 140px;
    width: 70px;
    height: 75px;
}
#highlight-bicepsz {
    top: 330px;
    left: 90px;
    width: 45px;
    height: 80px;
}
#highlight-tricepsz {
    top: 320px;
    left: 1012px;
    width: 75px;
    height: 85px;
}
#highlight-hat {
    top: 356px;
    left: 1090px;
    width: 158px;
    height: 98px;
}
#highlight-romboid {
    top: 300px;
    left: 1070px;
    width: 65px;
    height: 58px;
}
#highlight-has {
    top: 360px;
    left: 138px;
    width: 158px;
    height: 150px;
}
#highlight-alkar{
    top: 405px;
    left: 1014px;
    width: 44px;
    height: 90px;
}