ul{
    padding:0;
    list-style: none;
    background: lightskyblue;
}
ul li{
    display: block;
}
ul li a{
    display: block;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
}
ul li a:hover{
    color: #1b1e21;
    background: plum;
}