ul{
    padding-top: 0px;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
    background: #e8b6d8;
}
ul li{
    display: inline-block;

}
ul li a{
    display: block;
    color: black;
    padding: 10px 25px;
    text-decoration: none;
}
ul li a:hover{
    color: #1b1e21;
    background: plum;
}

#balkep{
    float: left;
    margin-right: 70px;
    border: 3px solid #1b1e21;

}
#jobbkep{
    float: right;
    margin: 10px;
    border: 3px solid #1b1e21;
}
#bal1kep{
    float: left;
    margin-right: 3px;
    border: 3px solid #1b1e21;
}
#jobb1kep{
    float: right;
    margin: 0.5px;
    border: 3px solid #1b1e21;
}
#rolunk{
    width: 25%;
    height: 25%;
    border: 3px solid #1b1e21;
    margin-left: auto;
    margin-right: auto;
    display: block;
    cursor: pointer;
}
.container {
    display: flex;
    justify-content: center;
    padding-right: 50px;
    padding-left: 50px;

}
h1{
    margin: 8px;
    padding: 8px;
    font-size: 40px;
    text-align: center;
    color: #a9a083;
}
h2, h3, h4
{
    margin: 5px;
    padding: 5px;
    font-size: 30px;
    text-align: center;
    color: #a9a083;
}
.szoveg1
{
    background-color: #f9f0d1;
    text-align: center;
    width: 400px;
    height: 100px;
    align-items: center;
    margin: auto;
    border: 3px solid #958c6f;
}
.szoveg
{
    padding: 20px;
    color:  #a9a083;
    background-color: #f9f0d1;
    text-align: center;
    height: 320px;
    width: 400px;
    align-items: center;
    margin: auto;
    border: 3px solid #958c6f;
}
.szooveg
{
    color: #958c6f;
    background-color: #f9f0d1;
    text-align: center;
    border: 3px solid #958c6f;
    width: 800px;
    align-items: center;
    margin: auto;
    justify-content: center;
    padding: 10px;
    padding-top: 0px;
}
.kep
{
    align-items: center;
    margin: auto;
    text-align: center;
}
.gomb
{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: inline-grid;
    width: 200px;
    height: 50px;
    position: relative;
    border-radius: 100px;
    margin-right: 20px;
}
.vissza
{
    border-style: solid;
    outline: none;
    border-radius: 100px;
    width: 150px;
    height: 30px;
    display: inline-block;
}
